<%- model_class = VehicleMake -%>
<div class="page-header">
  <h1><%=t '.title', :default => VehicleMake %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicle_makes.each do |vehicle_make| %>
      <tr>
        <td><%= vehicle_make.id %></td>
        <td><%=l vehicle_make.created_at, format: :long %></td>
        <td>
          <%= link_to vehicle_make_path(vehicle_make), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to vehicle_make_path(vehicle_make), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vehicle_make_path,
            :class => 'btn btn-primary' %>
