<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle make:</strong>
  <%= @vehicle_model.vehicle_make %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_model.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle_model.year %>
</p>

<%= link_to 'Edit', edit_vehicle_model_path(@vehicle_model) %> |
<%= link_to 'Back', vehicle_models_path %>
